@model LudogorieFood.Web.Areas.Admin.ViewModels.Shop.ProductViewModel

@{
    ViewBag.Title = "Shop, Adding Product";
}


@Html.Partial("_ANavigationPartial", TempData["ActiveMenuName"])

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4>Add new product</h4>
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.CategoryId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.CategoryList, "text", "value"), "Избери категория", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Measure, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Measure, new { @class = "control-label" })
            @Html.EnumDropDownListFor(m => m.Measure, new { @class = "form-control enum-drop-down-list" })
            @Html.ValidationMessageFor(m => m.Measure, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Price, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control text-box-100", id="priceTextBoxId" })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Picture, new { @class = "control-label" })
            <input type="file" name="Picture" class="filestyle form-control"
                   data-buttonBefore="true"
                   data-buttonText="Избери файл"
                   data-buttonName="btn-primary" />
            @Html.ValidationMessageFor(m => m.Picture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.InStock)
                @Html.LabelFor(m => m.InStock)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script>
        $("document").ready(function () {
            validateNumericTextBox("priceTextBoxId");
        });
    </script>
}
