
@using LudogorieFood.Web.Common
@using LudogorieFood.Web.Areas.Admin.ViewModels.Shop

@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Shop Products";
    var products = Model;
    var currentCategoryId = -1;
}


@Html.Partial("_ANavigationPartial", ViewData["ActiveMenuName"])

<div class="container">
    <a href="products/create" class="btn btn-primary"><i class="fa fa-plus"></i> Create new product</a>
</div>

<div calss="container">
    @if (products.Count() != 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Measure</th>
                    <th>New Price</th>
                    <th>In Stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    if (currentCategoryId != product.CategoryId)
                    {
                        <tr class="success">
                            <td colspan="8"><strong>@product.CategoryName</strong></td>
                        </tr>
                        currentCategoryId = product.CategoryId;
                    }
                    <tr>
                        <td>
                            <img src="@Url.Content(GlobalConstants.ProductsImagesPath + "/" + product.PictureName)" class="tumbnail" />
                        </td>
                        <td>@Html.DisplayFor(m => product.Name)</td>
                        <td>@Html.DisplayFor(m => product.Price)</td>
                        <td>@Html.DisplayFor(m => product.Amount)</td>
                        <td>@Html.DisplayFor(m => product.Measure)</td>
                        <td>@Html.DisplayFor(m => product.NewPrice)</td>
                        <td>@Html.DisplayFor(m => product.InStock)</td>
                        <td>
                            <a href="@Url.Content("~/admin/shop/products/update/"+ product.Id)" title="Edit"><i class="fa fa-edit"></i></a>&nbsp;
                            <a class="confirmLink" href="@Url.Content("~/admin/shop/products/delete/" + product.Id)" title="Delete"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div id="dialog" title="Confirmation Required">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        These items will be marked as deleted and than you want to recover it. Are you sure?
    </p>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#dialog").dialog({
                autoOpen: false,
                resizable: false,
                height: 210,
                modal: true,
            });
        });

        $(".confirmLink").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#dialog").dialog({
                buttons: {
                    "Confirm": function () {
                        window.location.href = targetUrl;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog").dialog("open");
        });
    </script>
}